<!DOCTYPE html>
<html lang="en">
<head>
    <title>Itinerary Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Your Selected Itinerary</h1>

        <div class="itinerary-details">
            <h2>{{ itinerary.title }}</h2>
            <p>{{ itinerary.description }}</p>
        </div>

        <div class="weather">
            <h2>Weather Information</h2>
            <p><strong>Temperature:</strong> {{ weather.temperature }}</p>
            <p><strong>Condition:</strong> {{ weather.condition }}</p>
        </div>

        <div class="packing-list">
            <h2>Important Things to Pack</h2>
            <ul>
                {% for item in packing_list %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="video-section">
            <h2>Visit Virtually</h2>
            {% for video in video %}
            <div class="video-container">
                <video controls>
                    <source src="{{ video.video }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            {% endfor %}
        </div>

        <div class="downloads">
            <button class="submit-button">Download Itinerary</button>
            <button class="submit-button">
                <a href="{{ video[0].video }}" download="itinerary_video.mp4" style="text-decoration: none; color: inherit;">Download Video</a>
            </button>
        </div>

        <div class="done-button">
            <form action="/" method="get">
                <button type="submit" class="submit-button">Done</button>
            </form>
        </div>
    </div>
</body>
<script>
    
</script>
</html>
